{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="row">
    <h1 class="text-center text-light">Football site</h1>
    <div class="col col-md-6 ">
        <img src="{% static 'images/static.png' %} " class="img-fluid m-auto">
    </div>
    <div class=" col col-md-6">
        <p class="mt-4"> Football site project is a static webpage using Html Css and Bootstrap just for 
            showcasing my proficency. done during my internship animated using wowjs and hosted in github you can check it by the link provided below</p>
            <a class="gi" href=" https://vishnuraj1542.github.io/Football-site-project/">live hosted</a>
    </div>
    

</div>
{% endblock %}