{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">
      <div class="abstract col-12 p-0 m-0 text-center">
        <h2 class="text-center pb-2 d-inline ">SAFE KERALA</h2><p class="d-inline"><a class="text-light ms-5" href="{% url 'footballsite' %}">Football site link</a></p>
      </div>
        <div class="abstract col-12 p-5">
            <p>Safe Kerala – Migrated Workers Portal addresses the challenge of finding authorized workers from outside Kerala. This interactive, web-enabled application allows for seamless identity verification and worker registration. Police officers play a crucial role by adding verified worker details to the site, ensuring that only authorized personnel are listed. The portal allows users to search for workers based on their technical skills, providing a precise match for their needs. If any worker is found to have a criminal record, the police can block their profile from the site. Additionally, users can lodge complaints about workers directly through the portal, ensuring quick police intervention. The admin has the capability
              to oversee all site activities, ensuring smooth operations and facilitating the availability of authorized workers for users. The system streamlines the process of finding skilled labor while ensuring safety and security for all parties involved.</p>
            <p class="d-inline">To see code github click here: </p><a href="https://github.com/Vishnuraj1542/SAFE-KERALA" target="_blank">github</a><br>
            <p class="d-inline">To see live Application click here: </p><a href="https://vishnuraj1542.pythonanywhere.com/" target="_blank">live link</a><br>
        </div>
        <div class="pic bg-light col-md-8">
            <img class="img-fluid d-block h-80" src="{% static 'images/keralafront.png' %}">
        </div>
        <div class="container m-5">
            <h3 class="text-center mb-4">Project Modules</h3>
            <div class="row g-4">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="p-3 border rounded bg-dark text-white h-100">
                      <h5 class="text-center mb-3">Admin</h5>
                      <ul>
                        <li> Login</li>
                        <li> Add Labours</li>
                        <li> View criminal list</li>
                        <li>View labours</li>
                        <li> Send notifications</li>
                        <li>View feedback</li>
                        <li> View complaints and status</li>
                        <li> Police station management</li>
                        <li> View labours personal issue </li>
                      </ul>
                    </div>
                  </div>
              <div class="col-12 col-md-6 col-lg-3">
                <div class="p-3 border rounded bg-dark text-white h-100">
                  <h5 class="text-center mb-3">User</h5>
                  <ul>
                    <li> Register, login</li>
                    <li> Search labour by skill</li>
                    <li> Send complaints & feedback</li>
                    <li> Chat with labourers</li>
                    <li>View request status</li>
                    <li>Send request to labour</li>
                  </ul>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <div class="p-3 border rounded bg-dark text-white h-100">
                  <h5 class="text-center mb-3">Labour</h5>
                  <ul>
                    <li>Login</li>
                      <li> Manage personal issues</li>
                      <li> Send complaints & feedback</li>
                      <li> Chat with users</li>
                      <li> View & update work requests</li>
                  </ul>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <div class="p-3 border rounded bg-dark text-white h-100">
                  <h5 class="text-center mb-3">Police Station</h5>
                  <ul>
                    <li>Login</li>
                    <li> Add workers</li>
                    <li> Manage criminal list</li>
                    <li>View & Respond to complaint</li> 
                    <li>View notifications</li>
                    <li>Send solutions to complaints</li>
                    <li> Handle verification & feedback</li>
                  </ul>
                </div>
              </div>
              
            </div>
            <div class="row container justify-content-center mt-5">
              <div class="col-12 col-md-8 col-lg-6">
                <div class="ps-5 border rounded bg-dark text-white">
                  <h2 class="mb-3">🛠️ Tech Stack</h2>
                  <ul>
                    <li>Frontend: HTML, CSS, Bootstrap, JavaScript</li>
                    <li>Backend: Python (Django)</li>
                    <li>Database: PostgreSQL</li>
                    <li>IDE: VS Code, PyCharm</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          
        <div class="pics row">
          <h2 class="text-center">Role based login system</h2>
            <div class="image col-12 col-md-4 col-lg-4">
                <img src="{% static 'images/login.png' %}" class="img-fluid" alt="">
                <h3 class="text-center pt-2">Users Login Page</h3>
            </div>
            <div class="image col-12 col-md-4 col-lg-4">
                <img src="{% static 'images/keralafront.png' %}" class="img-fluid" alt="">
                <h3 class="text-center pt-2">Public page</h3>
            </div>
            <div class="image col-12 col-md-4 col-lg-4">
                <img src="{% static 'images/worker.png' %}" class="img-fluid" alt="">
                <h3 class="text-center pt-2">Workers Page</h3>
            </div>
            <div class="image col-12 col-md-4 col-lg-4">
                <img src="{% static 'images/police.png' %}" class="img-fluid" alt="">
                <h3 class="text-center pt-2">Station Page</h3>
            </div>
            <div class="image col-12 col-md-4 col-lg-4">
                <img src="{% static 'images/adminpanel.png' %}" class="img-fluid" alt="">
                <h3 class="text-center pt-2">Admin page</h3>
            </div>
        </div>
    </div> 
</div>
{% endblock %}