{% extends 'base.html' %}
{% load static %}
{% block body %}
<section id="skills" class="container py-5 text-center">
    <h2 class="mb-4 fw-bold">Skills</h2>
    <div class="row justify-content-center gap-4">
      
      <div class="col-4 col-md-2 skill-icon">
        <i class="fab fa-python fa-3x text-warning"></i>
        <p class="mt-2 text-dark">Python</p>
      </div>
  
      <div class="col-4 col-md-2 skill-icon">
        <img src="{% static 'images/Django.png' %}" class="width-25" height="25">
        <p class="mt-2 text-dark">Django</p>
      </div>
  
      <div class="col-4 col-md-2 skill-icon">
        <img src="{% static 'images/djangorest.png' %}" class="width-25" height="50">
        <p class="mt-2 text-dark">DRF</p>
      </div>
  
      <div class="col-4 col-md-2 skill-icon">
        <img src="{% static 'images/postgres.png' %}" class="width-25" height="50">
        <p class="mt-2 text-dark">PostgreSQL</p>
      </div>
  
      <div class="col-4 col-md-2 skill-icon">
        <i class="fab fa-html5 fa-3x text-danger"></i>
        <p class="mt-2 text-dark">HTML5</p>
      </div>
  
      <div class="col-4 col-md-2 skill-icon">
        <i class="fab fa-css3-alt fa-3x text-primary"></i>
        <p class="mt-2 text-dark">CSS3</p>
      </div>
  
      <div class="col-4 col-md-2 skill-icon">
        <i class="fab fa-bootstrap fa-3x text-info"></i>
        <p class="mt-2 text-dark">Bootstrap</p>
      </div>
  

      <div class="col-4 col-md-2 skill-icon">
        <i class="fab fa-js-square fa-3x text-warning"></i>
        <p class="mt-2 text-dark">JavaScript</p>
      </div>
  
      <div class="col-4 col-md-2 skill-icon">
        <i class="fab fa-github fa-3x text-dark"></i>
        <p class="mt-2 text-dark">GitHub</p>
      </div>
      <span></span>
      <div class="col-4 col-md-2 skill-icon d-block">
        <img src="{% static 'images/vscode.png' %}" class="width-25" height="50">
        <p class="mt-2 text-dark">Vscode</p>
      </div>

      <div class="col-4 col-md-2 skill-icon">
        <img src="{% static 'images/Pycharm.png' %}" class="width-25" height="50">
        <p class="mt-2 text-dark">Pycharm</p>
      </div>
  
    </div>
  </section>
  
{% endblock %}
  